
<script>
   
    function mostrarAquivo(){

        formDados = new FormData(document.getElementById('arquivoForm'));
       
        jQuery.ajax({
            type: "POST",
            url: 'index.php?do=index&action=mostrarArquivo',
            data: formDados,
            success: function (data) {
                console.log(data);
                alert("Planilha Incluido com Sucesso !")
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function processarArquivo(element){
        let arquivo = element.files[0];
        let nomeArquivo = jQuery("#nomeArquivo");
        
        let reader = new FileReader();
        
        reader.onload = function() {
            let img = jQuery(element).closest("#importarArquivo").find(".previewImg").first();

            nomeArquivo.attr('href', reader.result);
            // nomeArquivo.text(arquivo.name);
            
            jQuery(img).attr("src", reader.result);
            jQuery(img).show();


        }
        reader.readAsDataURL(arquivo);
    }



    function exibirModal(){
        jQuery("#modal").slideDown("slow");;
        jQuery("#fade").show()
    }

    function removerModal(){
        jQuery("#modal").hide();
        jQuery("#fade").slideUp("hide");
    }

    function pesquisarInfoVeiculo(element){
        var codigoVeiculo = jQuery(element).val();
        window.location = "index.php?do=index&action=inicio&codigoVeiculo=" + codigoVeiculo;
    }

</script>

{include file="include/header.html"}
{include file="include/menu.html"}


<input type="hidden" name="qtdEmCalibracao" 	id="qtdEmCalibracao"    value="{$qtdEmCalibracao}">
<input type="hidden" name="qtdCalibrado" 	    id="qtdCalibrado" 		value="{$qtdCalibrado}">
<input type="hidden" name="qtdNaoEncontrado" 	id="qtdNaoEncontrado"   value="{$qtdNaoEncontrado}">

<!-- Conteudo -->
<div class="container py-4">
    <div class="row">
        <div class="col-md-5">
            <h3>Pesquisar</h3>
            <select class="form-select" aria-label="Default select example" onchange="pesquisarInfoVeiculo(this)">
                <option value="0" selected>Selecione:</option>
                {foreach item=objVeiculo from=$collectionVeiculo}			
                    {if ($objVeiculoForm->getCodigo() == $objVeiculo->getCodigo())}
                        <option value="{$objVeiculo->getCodigo()}" selected>{$objVeiculo->getNome()}</option>
                    {else}											
                        <option value="{$objVeiculo->getCodigo()}">{$objVeiculo->getNome()}</option>
                    {/if} 							
                {/foreach}
            </select>
        </div>
        <div class="col-md-7" id="importarArquivo">
            <form action="" name="arquivoForm" id="arquivoForm">
                <h3>Arquivo</h3>
                <div class="input-group mb-3">
                    <input type="file" name="arquivo" class="form-control" id="arquivo" placeholder="arquivo" aria-label="Recipient's username" aria-describedby="basic-addon2" onchange="processarArquivo(this)">
                    <div class="input-group-append">
                        <a href="" target="_blank" id="nomeArquivo" class="text-ellipsis" type="hidden"></a>
                        <button type="button" class="btn btn-outline-secondary" onclick="mostrarAquivo()">
                            <i class="fa-sharp fa-solid fa-file-export"></i> Importar Arquivo
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{assign var="collectionEquipamento" value=$objPagina->getRegistros()}

<div class="container p-1">
    <div class="row">
        <div class="col-md-5">
            <div class="h-100 p-3 bg-light border rounded-3" style="text-align: center;">
                <h2>Informações de Ferramentas</h2>
                <div id="piechart" style="width: 500px; height: 250px;"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="h-100 p-3 bg-light border rounded-3">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Proxima da Calibragem  </h3>
                    </div>
                    <div  class="col-md-3 text-end">
                        <button type="button" class="btn btn-outline-primary">Quantidade : {$objPagina->getQtdTotalRegistro()}</button>
                    </div>
                </div>
                <br>
                {if $objPagina->getRegistros() != 0}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Modela</td>
                                <th scope="col">N° Série</td>
                                <th scope="col">Data Calibragem</td>
                                <th scope="col">Data Vencimento</td>
                            </tr>
                        </thead>
                        <tdoby>
                            {foreach item=objEquipamento from=$collectionEquipamento}
                                <tr>
                                    <td>{$objEquipamento->getModelo()}</td>
                                    <td>{$objEquipamento->getNumeroSerie()}</td>
                                    <td>{$objEquipamento->getDataCalibragem()}</td>
                                    <td>{$objEquipamento->getDataVencimento()}</td>
                                </tr>
                            {/foreach}
                        </tdoby>
                    </table>
                {else}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Modela</td>
                                <th scope="col">N° Série</td>
                                <th scope="col">Data Calibragem</td>
                                <th scope="col">Data Vencimento</td>
                            </tr>
                        </thead>
                        <tdoby>
                            <tr>
                                <td>Nenhum registro encontrado !</td>
                            </tr>
                        </tdoby>
                    </table>
                {/if}
            </div>
        </div>
    </div>

</div>

{include file="include/footer.html"}

<!-- GRAFICO -->
{literal}
<script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
    </script>
{/literal}
<script>
    
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var qtdEmCalibracao   = parseInt(jQuery("#qtdEmCalibracao").val());
        var qtdCalibrado      = parseInt(jQuery("#qtdCalibrado").val());
        var qtdNaoEncontrado  = parseInt(jQuery("#qtdNaoEncontrado").val());

        // console.log(qtdEmCalibracao);
        // console.log(qtdCalibrado);
        // console.log(qtdNaoEncontrado);

        // var qtdEmCalibracao   = 1;
        // var qtdCalibrado      = 2;
        // var qtdNaoEncontrado  = 3;

        var data = google.visualization.arrayToDataTable([
            ['Status', 'Status'],
            ['Em Calibragem',   qtdEmCalibracao],
            ['Calibrado',       qtdCalibrado],
            ['Não Encontrado',  qtdNaoEncontrado]
        ]);

        var options = {
            backgroundColor: '#f8f9fa',
            fontFamily: '102px',
            is3D: true,

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>