<div class="p-5 mb-4 bg-light rounded-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Codigo</td>
                <th scope="col">Identificação</td>
                <th scope="col">Data</td>
                <th scope="col">Ação</td>
            </tr>
        </thead>
        <tdoby> 
            {foreach item=objEquipamento from=$collectionEquipamento}
            
                {assign var="objStatus" value=$objEquipamento->getObjStatus()}

                <tr>
                    <td>{$objEquipamento->getCodigo()}</td>
                    <td>teste 01</td>
                    <td>{$objEquipamento->getDataVencimento()}</td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button type="button" class="btn btn-info">
                            <i class="fa fa-file-download"></i>
                        </button>
                    </td>
                </tr>
            {/foreach}
        </tdoby>
    </table>
</div>