<script>

    function incluirColaborador(){
        window.location = "index.php?do=colaborador&action=editar&acao=I";
    }


</script>

{include file="include/header.html"}
{include file="include/menu.html"}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h3>Relatorio</h3>
        </div>
        <div class="col-2 texto-right">
            <button type="button" class="btn btn-primary btn-sm" onclick="incluirColaborador()">
                <i class="far fa-file-pdf"></i> Gerar Relatorio
            </button>
        </div>
        <hr>
        <p>Lista de Colaboradores</p>
    </div>

        <div id="container">
            <div class="row">
                <div class="row align-items-start form-group">

                    <div class="col-3">
                        <div class="padding-padrao">
                            <label for="statos" title="Status" class="text-ellipsis">Veiculo:</label>
                            <select name="statos" id="statos" class="statos form-control form-control-sm">
                                <option value="" selected>Selecione</option>
                                <!-- {foreach item=objStatus from=$collectionStatus}
                                    {if ($objEquipamentoForm->getStatus() == $objStatus->getCodigo())}
                                        <option value="{$objStatus->getCodigo()}" selected>{$objStatus->getDescricao()}</option>
                                    {else}											
                                        <option value="{$objStatus->getCodigo()}">{$objStatus->getDescricao()}</option>
                                    {/if} 
                                {/foreach} -->
                            </select>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="padding-padrao">
                            <label for="statos" title="Status" class="text-ellipsis">Setor:</label>
                            <select name="statos" id="statos" class="statos form-control form-control-sm">
                                <option value="" selected>Selecione</option>
                                <!-- {foreach item=objStatus from=$collectionStatus}
                                    {if ($objEquipamentoForm->getStatus() == $objStatus->getCodigo())}
                                        <option value="{$objStatus->getCodigo()}" selected>{$objStatus->getDescricao()}</option>
                                    {else}											
                                        <option value="{$objStatus->getCodigo()}">{$objStatus->getDescricao()}</option>
                                    {/if} 
                                {/foreach} -->
                            </select>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="padding-padrao">
                            <label for="dataCalibragem" title="Data Calibragem" class="text-ellipsis">Periodo de:</label>
                            <input type="date" name="dataCalibragem" id="dataCalibragem" class="dataCalibragem form-control form-control-sm" value="">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="padding-padrao">
                            <label for="dataCalibragem" title="Data Calibragem" class="text-ellipsis">Até:</label>
                            <input type="date" name="dataCalibragem" id="dataCalibragem" class="dataCalibragem form-control form-control-sm" value="">
                        </div>
                    </div>

                    <div class="col-2"><br>
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
                        </button>
                    </div>
                </div>
            </div>
        </div>

          <br>
        {include file="relatorio/listarRelatorio.html"}
  
</div>


{include file="include/footer.html"}