<div class="p-5 mb-4 bg-light rounded-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tacto</td>

                <th scope="col">Ação</td> 
            </tr>
        </thead>
        <tdoby>
          
                <tr>
                    <td></td>

                    <td>
                        <button type="button" class="btn btn-warning">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
         
        </tdoby>
    </table>
</div>