<script>
    indice = 0;
    function salvarPlanilhaCalibracao(){
        var acao = jQuery("#acao").val();

        if (acao == "I") {
			var urlAction = "index.php?do=planilhaCalibracao&action=incluir";
		}else{
			var urlAction = "index.php?do=planilhaCalibracao&action=alterar";
		}

        formDados = new FormData(document.getElementById('frmColaborador'));

		jQuery.ajax({
			type: 'POST',
			url: urlAction,
			data: formDados,
			success: function (data) {
				console.log(data);
                redirecionar()
                if(acao == "I"){
                    alert("Planilha Calibracao Incluido com Sucesso !")
                }else{
                    alert("Planilha Calibracao Alterado com Sucesso !")
                }
			},
			cache: false,
			contentType: false,
			processData: false
		});
    }

    function redirecionar(){
        window.location = "index.php?do=planilhaCalibracao&action=inicio";
    }

    function listarItemPlanilhaCalibracao(){
        let codigoPlanilhaCalibracao = jQuery("#codigoPlanilhaCalibracao").val();

        if(codigoPlanilhaCalibracao != "") {
            jQuery.ajax({
                type: 'GET',
                url: 'index.php?do=planilhaCalibracao&action=listarItemPlanilhaCalibracao',
                data: {
                    'codigoPlanilhaCalibracao': codigoPlanilhaCalibracao
                },
                success: function(data) {
                    // console.log(data);
                    let arrayPlanilhaCalibracao = JSON.parse(data);
                    processaItemPlanilhaCalibracao(arrayPlanilhaCalibracao);
                }
            });
        }
    }

    function processaItemPlanilhaCalibracao(arrayPlanilhaCalibracao) {
        console.log(arrayPlanilhaCalibracao);
        arrayPlanilhaCalibracao.forEach((itemPlanilhaCalibracao) => {
            var e = jQuery("#editaPlanilhaCalibracao");
			var base = jQuery("#itemPlanilhaCalibracaoBase-base").html();
			base = base.replace(/\-i\-/g, indice);
            base = base.replace(/\-sequencia\-/g, indice);
			e.append(base);

            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".indice").val(indice);	
            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".codigoItemPlanilhaCalibracao").val(itemPlanilhaCalibracao['codigo_item_planilha_calibracao']);	
            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".codigoPlanilhaCalibracao").val(itemPlanilhaCalibracao['codigo_planilha_calibracao']);

            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".location").val(itemPlanilhaCalibracao['location']);	
            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".description").val(itemPlanilhaCalibracao['description']);	
            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".folder").val(itemPlanilhaCalibracao['folder']);	
            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".testType").val(itemPlanilhaCalibracao['test_type']);	
            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".measure").val(itemPlanilhaCalibracao['measure']);	
            // jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".nextCheck").val(itemPlanilhaCalibracao['next_check']);	
            jQuery("#itemPlanilhaCalibracaoBase" + indice).find(".observacao").val(itemPlanilhaCalibracao['observacao']);	

            if (itemPlanilhaCalibracao['observacao'] == 'Não enc.') {
                jQuery("#itemPlanilhaCalibracaoBase" + indice).find('#borda_item').addClass('border-danger')
            }

            indice++
        });
    }

</script>


{include file="include/header.html"}
{include file="include/menu.html"}

<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="padding-padrao">
                <h2>Alterar Planilha Calibragem</h2>
            </div>
        </div>

        <div class="col-1">
            <div class="padding-padrao texto-right">    
                <button type="button" name="btn-incluir" id="btn-incluir" class="btn btn-primary btn-sm" onclick="salvarPlanilhaCalibracao();">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </div>
    <hr>

    <div class="row align-items-start">
        <div class="col-12">
            <p class="font-weight-light">Preencha os campos abaixo para alterar a planilha calibragem !</p>	
        </div>  
    </div>
         
    <form name="frmColaborador" id="frmColaborador">
        <input type="hidden" name="acao" 				        id="acao" 				        value="{$objPlanilhaCalibracaoForm->getAcao()}">
        <input type="hidden" name="codigoPlanilhaCalibracao" 	id="codigoPlanilhaCalibracao" 	value="{$objPlanilhaCalibracaoForm->getCodigo()}">
        
        <div class="row align-items-start">
            <div class="col-4">
                <div class="padding-padrao">
                    <label for="nome" title="Código Unico" class="text-ellipsis">Nome:</label>
                    <input type="text" name="nome" id="nome" class="nome form-control form-control-sm" value="{$objPlanilhaCalibracaoForm->getNome()}" >
                </div>
            </div>

            <div class="col-2">
                <div class="padding-padrao">
                    <label for="dataInclusao" title="Data Admissão" class="text-ellipsis">Data Inclusao:</label>
                    <input type="date" name="dataInclusao" id="dataInclusao" class="dataInclusao form-control form-control-sm" value="{$objPlanilhaCalibracaoForm->getDataInclusao()}" readonly>
                </div>
            </div>
        </div>

        <br>
            <div class="row align-items-start">
                <div class="col-12">
                    <h5>Itens Calibragem</h5>
                </div>
            </div>

            <div class="container">
                <div class="row align-items-start">
                    <div class="col-12">
                        <div id="editaPlanilhaCalibracao"></div>
                    </div>
                </div>
            </div>
      
        <br>
        {include file="planilhaCalibracao/itemPlanilhaCalibracaoBase.html"}
    </form>
</div>

{include file="include/footer.html"}


<script>
    listarItemPlanilhaCalibracao();
</script>