
<script>

    function salvarSetor(){
        var acao = jQuery("#acao").val();

        if (acao == "I") {
			var urlAction = "index.php?do=setor&action=incluir";
		}else{
			var urlAction = "index.php?do=setor&action=alterar";
		}

        formDados = new FormData(document.getElementById('frmSetor'));

		jQuery.ajax({
			type: 'POST',
			url: urlAction,
			data: formDados,
			success: function (data) {
				console.log(data);
                redirecionar()
                if(acao == "I"){
                    alert("Setor Incluido com Sucesso !")
                }else{
                    alert("Setor Alterado com Sucesso !")
                }
			},
			cache: false,
			contentType: false,
			processData: false
		});
    }

    function redirecionar(){
        window.location = "index.php?do=setor&action=inicio";
    }

</script>

{include file="include/header.html"}
{include file="include/menu.html"}

<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="padding-padrao">
                <h2>Cadastrar Setor</h2>
            </div>
        </div>

        <div class="col-1">
            <div class="padding-padrao texto-right">    
                <button type="button" name="btn-incluir" id="btn-incluir" class="btn btn-primary btn-sm" onclick="salvarSetor();">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </div>
    <hr>

    <div class="row align-items-start">
        <div class="col-12">
            <p class="font-weight-light">Preencha os campos abaixo para cadastrar um novo Setor !</p>	
        </div>  
    </div>
         
    <form name="frmSetor" id="frmSetor">
        <input type="hidden" name="acao" 			id="acao" 				    value="{$objSetorForm->getAcao()}">
        <input type="hidden" name="codigoSetor" 	id="codigoSetor" 		value="{$objSetorForm->getCodigo()}">
        
    
        <div class="row align-items-start">

            <div class="col-3">
                <div class="padding-padrao">
                    <label for="codigoVeiculo" title="Veiculo" class="text-ellipsis">Veiculo:</label>
                    <select name="codigoVeiculo" id="codigoVeiculo" class="codigoVeiculo form-control form-control-sm">
                        <option value="" selected>Selecione</option>
                        {foreach item=objVeiculo from=$collectionVeiculo}
                            {if ($objSetorForm->getCodigoVeiculo() == $objVeiculo->getCodigo())}
                                <option value="{$objVeiculo->getCodigo()}" selected>{$objVeiculo->getNome()}</option>
                            {else}											
                                <option value="{$objVeiculo->getCodigo()}">{$objVeiculo->getNome()}</option>
                            {/if} 
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="col-3">
                <div class="padding-padrao">
                    <label for="nome" title="Código Unico" class="text-ellipsis">Nome:</label>
                    <input type="text" name="nome" id="nome" class="nome form-control form-control-sm" value="{$objSetorForm->getNome()}" >
                </div>
            </div>

           
            <div class="col-2">
                <div class="padding-padrao">
                    <label for="dataInclusaoSetor" title="Data Admissão" class="text-ellipsis">Data Inclusão:</label>
                    <input type="date" name="dataInclusaoSetor" id="dataInclusaoSetor" class="dataInclusaoSetor form-control form-control-sm" value="{$objSetorForm->getDataInclusao()}" >
                </div>
            </div>
        </div>

    </form>
</div>

{include file="include/footer.html"}