<div class="p-5 mb-4 bg-light rounded-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Codigo</td>
                <th scope="col">Setor</td>
                <th scope="col">Veiculo</td>
                <th scope="col">Data Inclusão</td>
                <th scope="col">Ação</td>
            </tr>
        </thead>
        <tdoby>
            {foreach item=objSetor from=$collectionSetor}

            {assign var="objVeiculo" value=$objSetor->getObjVeiculo()}
                 
                <tr>
                    <td>{$objSetor->getCodigo()}</td>
                    <td>{$objSetor->getNome()}</td>
                    <td>{$objVeiculo->getNome()}</td>
                    <td>{$objSetor->getDataInclusao()}</td>
                    <td>--</td>
                    <td>
                        <button type="button" class="btn btn-warning" onclick="editarSetor('{$objSetor->getCodigo()}')">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" onclick="excluirSetor('{$objSetor->getCodigo()}')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {/foreach}
        </tdoby>
    </table>
</div>
