<script>

    function incluirSetor(){
        window.location = "index.php?do=setor&action=editar&acao=I";
    }

    function editarSetor(codigoSetor){
        window.location = "index.php?do=setor&action=editar&acao=A&codigoSetor=" + codigoSetor;
    }

    function excluirSetor(codigoSetor){

        var resposta = confirm("Deseja realmente excluir este Setor !");

        if(resposta == true){

            var urlAction = "index.php?do=setor&action=excluir";

            jQuery.ajax({
                type: 'GET',
                url: urlAction,
                data: {
                    'codigoSetor':codigoSetor
                },
                success: function (data) {
                    console.log(data);
                    window.location = "index.php?do=setor&action=inicio";
                    alert("Setor excluido com Sucesso !")
                }
            });
        }
    }

</script>

{include file="include/header.html"}
{include file="include/menu.html"}

<div class="container">
    <div class="row">
        <div class="col-11">
            <h3>Setores</h3>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary btn-sm" onclick="incluirSetor()">
                <i class="fa-solid fa-plus"></i> Incluir
            </button>
        </div>
        <hr>
        <p>Lista de Setores</p>
    </div>

        <div id="container">
            <div class="row">
                <div class="row align-items-start form-group">
                    <div class="col-3">
                        <div class="padding-padrao">
                            <label for="title" title="Titulo" class="text-ellipsis">Nome:</label>
                            <input type="text" name="title" id="title" class="title form-control form-control-sm" value="" >
                        </div>
                    </div>

                    <div class="col-2"><br>
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
                        </button>
                    </div>
                </div>
            </div>
        </div>

          <br>
        {include file="setor/listarSetor.html"}
  
</div>


{include file="include/footer.html"}